body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.datepicker{
    display: inline-block;
    margin: 20px;
    margin-bottom: 5px;
}
.datapicker__input{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 15px;
}
.datapicker__input input{
    border: none;
    padding: 5px;
}
.datapicker__input img{
    background-color: #ffffff;
    cursor: pointer;
}
.datapicker__input img:hover{
    background-color: #ccc;
    border-radius: 9px;
}
.calendar{
    margin: 1px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 260px;
}
.calender__header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 2px;
    background-color: #0866ff;
    color: #fff;
}
.prev{
    cursor: pointer;
    font-size: 14px;
}
.prev:hover{
    background-color: #b8b8b8;
    border-radius: 10px;
}
.next{
    cursor: pointer;
    font-size: 14px;
}
.next:hover{
    background-color: #b8b8b8;
    border-radius: 10px;
}
.calender__header-day_names{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    background-color: #0866ff;
    color: #fff;
    
}
.calender__body{
    padding: 10px;
}
.days{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.days span{
    width: 31px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
    
}
.days span:hover{
    background-color: #c4bcbc;
    border-radius: 15px;
    padding: 2px;
}